.well {
  align-self: center;
  -webkit-box-shadow: 1px 3px 1px #9E9E9E;
  -moz-box-shadow: 1px 3px 1px #9E9E9E;
  box-shadow: 1px 3px 1px #9E9E9E;

}

.back{
  background-image: url('background.jpg');
	background-size: cover;
  background-position: center;
  position: relative;
	height: 100vh;
 }

.back2{
  background-color: rgba(0, 153, 255, 0.4);
	background-size: cover;
  background-position: center;
  position: relative;
	height: 100vh;
    
}

.searchbox{
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
  height: 350px;
  width: 350px;
  background-color:rgba(255, 255, 255, 0.9);
  padding: 50px;
}

select option {
  display:inline-block;
}

.card{
  width: 80%;
  align-self: center;
}
