.well {
  align-self: center;
  -webkit-box-shadow: 1px 3px 1px #9E9E9E;
  -moz-box-shadow: 1px 3px 1px #9E9E9E;
  box-shadow: 1px 3px 1px #9E9E9E;

}

.back{
  background-image: url('background.jpg');
	background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
	height: 100vh;
 }

.back2{
  background: linear-gradient(90deg,#000428,#004e92);
	background-size: cover;
  background-position: center;
  position: relative;
  background-attachment: fixed;
	height: 100vh;
    
}
.back3{
  background: linear-gradient(90deg,#000428,#004e92);
	background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
  min-height: 100vh;
}


.searchbox{
  position: relative;
  border-radius: 10px;
  top: 40%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  margin: auto;
  height: 500px;
  width: 500px;
  background-color:rgba(137, 221, 255, 0.671);
  padding: 50px;
  align-content:center;
}

select option {
  display:inline-block;
}

.card{
  background: linear-gradient(90deg,#000428,#004e92);
  height:100vh;
  width: 100%;
  align-self: center;
  align-content:center;
  font-family:"Roboto";
  font-size:18px
}

.App{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.sub{
  
  color: aqua;
  padding: 30px;
  align-content: center;
}
.sub1{
  height: 30px;
  width:80px;
  background-color:rgb(133, 53, 238) }

.gradient{
  color:white;
  font-family:"Roboto"
}
